@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
body {
    background-color: #282828;
}
.all {
    max-width: 1820px;
    margin: 50px auto;
}

.backfon {
    display: inline-block;
    position: absolute;
    z-index: 2;
}
.wrapper1 {
    background-color: #eaeaea;
    width: 100%;
}
.wrap1 {
    margin: 0px auto;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 40px;
}
.w1logo {
    width: 176px;
    height: 52px;
    display: flex;
}
a {
    display: inline-block;
    color: #494949;
    z-index: 3;
}
.ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 426px;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    margin-top: 20px;
}
.wrapper2 {
    background-color: #ed1c24;
    
}
.wrap2 {
    display: block;
    padding-left: 325px;
    padding-top: 258px;
    padding-bottom: 286px;
}
.sarlavha {
    font-size: 50px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-bottom: 26px;
}
.w2text {
    font-size: 25px;
    width: 571px;
    line-height: 30px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.readmore {
    position: absolute;
    z-index: 4;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    border: 2px solid #fff;
    width: 205px;
    padding: 18px 32px;
    margin-top: 30px;
}
.wrapper3 {
    background: #eaeaea;
}
.wrap31 {
    width: 630px;
    margin: 0px auto;
    padding-top: 124px;
    padding-bottom: 65px;
}
.wrap31top {
    text-align: center;
    color: #282828;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 22px;
}
.wrap31center {
    color: #959595;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin-bottom: 44px;
}
.ul2 {
    display: flex;
    font-display: row;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #494848;
}
.littleline1 , .littleline2 , .littleline3 {
    width: 4px;
    background-color: #494848;
    height: 16px;
}
.wrap32 {
    margin: 0px auto;
    width: 1170px;
    background: #fff;
    box-shadow: 0px 0px 8px #959595 ;
}
.wrap32top {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 458px;
    width: 182px;
    color: #282828;
    font-size: 120px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    padding-top: 91px;
    text-align: center;
    margin-bottom: 24px;
}
.wrap32top img {
    margin-left: -9px;
    width: 126px;
    height: 71px;
    margin-top: 20px;
}
.wrap32center {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-left: 461px;
    margin-right: 456px;
    color: #282828;
    font-size: 45px;
}
.wrap32bottom {
    width: 402px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 384px;
    text-align: center;
    margin-top: 23px;
    font-size: 31px;
    color: #282828;
    padding-bottom: 21px;
}
.wrap33 {
    margin: 0px auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-color: #ed1c24;
    width: 458px;
    color: #fff;
    padding: 35px 47px 36px 47px;
    font-size: 30px;
    margin-top: 61px;
}
.wrap33wrap {
    padding-bottom: 104px;
}
.wrapper4 {
    background: #ed1c24;
    color: #eaeaea;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 20px;
    padding-top: 46px;
    padding-bottom: 46px;
}